<div class="header">
  <div class="inner">
    <div class="title">
    <h1 class="wf-mplus1p">連絡帳アプリ　レン"ラク"!</h1>
    </div>
  </div>

  <div class="container">
  <% if user_signed_in? %>
    <div class="nav__btn">
      こんにちは、
    <%= link_to current_user.name + "さん", "#", class: "subtitle" %>
    </div>
    <div class="nav__btn">
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "subtitle" %>
    </div>
  <% else %>
    <div class="nav__btn">
    <%= link_to '新規会員登録', new_user_registration_path, class: "subtitle" %>
    </div>
    <div class="nav__btn">
    <%= link_to 'ログイン', new_user_session_path, class: "subtitle" %>
    </div>
  <% end %>
  </div>

  <div class="container">
    <div class="d-flex justify-content-center">
      <div class="nav__btn">
        <div class="card" style="width: 18rem;">
        <img src="https://2.bp.blogspot.com/-4FpV36b5_NY/Vlmd4x-3JGI/AAAAAAAA1Hg/x9VhApI_oDI/s150/christmas_mark14_rabbit.png" class="card-img-top" alt="...">
          <div class="card-body">
              <h5 class="card-title">お知らせを見る</h5>
              <p class="card-text"></p>
              <a href="../prints", class="btn btn-primary">お知らせ一覧へ</a>
          </div>
        </div>
      </div>
      <div class="nav__btn">
        <div class="card" style="width: 18rem;">
        <img src="https://2.bp.blogspot.com/-Dd3EuGWMOys/Vlmd3f4PM6I/AAAAAAAA1HI/nPfo227Qxbo/s150/christmas_mark10_pig.png" class="card-img-top" alt="...">
          <div class="card-body">
              <h5 class="card-title">メッセージを送る</h5>
              <p class="card-text"></p>
              <a href="../prints", class="btn btn-primary">メッセージルームへ</a>
          </div>
        </div>
      </div>
      <div class="nav__btn">
        <div class="card" style="width: 18rem;">
        <img src="https://2.bp.blogspot.com/-eijm4v9_9Nk/Vlmd4YhYQWI/AAAAAAAA1HY/3bLT-7zmcZw/s150/christmas_mark12_lion.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">連絡帳を書く</h5>
            <p class="card-text"></p>
            <a href="../attendances/new", class="btn btn-primary">連絡帳へ</a>
          </div>
        </div>
      </div>
    </div>
  </div>
<br>
  <div class="container">
    <div class="d-flex justify-content-center">
      <div class="nav__btn">
        <div class="card" style="width: 18rem;">
        <img src="https://3.bp.blogspot.com/-fh7os1Nyf-M/VlmdzhnCGbI/AAAAAAAA1GM/LPvGPq9xfEY/s150/christmas_mark01_santa.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">お知らせを投稿する</h5>
            <p class="card-text"></p>
            <a href="../prints/new", class="btn btn-primary">お知らせ投稿へ</a>
          </div>
        </div>
      </div>
      <div class="nav__btn">
        <div class="card" style="width: 18rem;">
        <img src="https://3.bp.blogspot.com/-XwDUSEwBNjQ/Vlmd2vjH3gI/AAAAAAAA1G4/P-Qh2Kx8NL8/s150/christmas_mark08_cat.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">メッセージを確認する</h5>
            <p class="card-text"></p>
            <a href="../prints", class="btn btn-primary">メッセージルームへ</a>
          </div>
        </div>
      </div>
      <div class="nav__btn">
        <div class="card" style="width: 18rem;">
        <img src="https://3.bp.blogspot.com/-XmM8F0CZmbs/Vlmd1eEkYsI/AAAAAAAA1Go/ll3rMfNPQV8/s150/christmas_mark05_snowman.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">出欠一覧を見る</h5>
            <p class="card-text"></p>
            <a href="../attendances", class="btn btn-primary">出欠一覧へ</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>

<div class ="footer">
<div class="container">
<p>
  @Copyright RenrakuApp 2020.
</p>
</div>
</div>

