<div class="chat-top">
  <div class="left-header">
    <div class="chat-title">
    hoge
    </div>
  </div>
  <div class="right-header">
    <div class="chat-end">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>

<div class="chat-main">
  <div class="message-box">
    <div class="message-upbox">
      <div class="message-name">
      Tom
      </div>
      <div class="message-time">
      2020/3/31(Wed) 12:43:30
      </div>
    </div>
    <div class="message-downbox">
    <div class="message-text">
    おはようございます
    </div>
    </div>
  </div>
  <div class="message-box">
    <div class="message-upbox">
      <div class="message-name">
      Tom
      </div>
      <div class="message-time">
      2020/3/31(Wed) 12:43:30
      </div>
    </div>
    <div class="message-downbox">
    <div class="message-text">
    おはようございます
    </div>
    </div>
  </div>
</div>

<div class="chat-bottom">
  <div class="form">
    <input class="form-message" placeholder="type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="form-submit" type="submit" value
  ="送信"></div>
</div>