<div class="pri-main">
  <% @prints.each do |print| %>
  <div class="pri-container">
    <div class='pri-info'>
      <h3 class='pri-title'>
        <%= print.title %>
      </h3>
      <div class='pri-time'>
        <span><%= l print.created_at %><br></span>
      </div><br>
      <div class='pri-text'>
        <span><%= print.text %><br></span>
      </div>
    </div>   
    <% if print.image.attached? %>
      <div class='pri-img-content'>
      <%= image_tag print.image.variant(resize: '500x500') %>
      </div>
      <% end%>
      <br><br>
      </div>
    <% end %>
  </div>

