/******************************************************************

Stylesheet: 480px以上(スマホの横向き)のモニタで適用

******************************************************************/
.header {
  height: auto;
  display: flex;
}

@media (min-width: 399px) {
  .app__nav {
    display: flex;
    margin-top: 2%;
  }
  .app__nav p {
    font-size: 2rem;
  }
  .app-img {
    display: flex;
    width: 20vw;
    height: 9vh;
    margin-left: 5px;
  }
  
  .app__img {
    margin-left: 5px;
  }
  
}
// serviceセクション


.service {
  background-color: #F8F5CD;
  margin-top: 5%;

  &__title h3 {
    text-align: center;
    font-size: 1.4em;
    color: #F57506;
    font-weight: lighter;
    margin: 5%;
  }

  &__title span {
    border-bottom: 1px solid #707070;
    padding-bottom: 2%;
}

  &__icons {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-left: 3%;
  }

  &__text {
    margin-bottom: 7%;
    font-size: 1.2rem;
  }
}
.icon-set {
  display: block;
  margin-left: 10%;
}
.service__icon img {
  width: 40px;
  height: auto;
}
.icon-name p{
    font-size: 0.8rem;
}

.social {
  &__title h3 {
    text-align: center;
    font-size: 1.4rem;
    color: #F57506;
    font-weight: lighter;
    margin: 5%;
  }
  &__text p {
    margin-bottom: 4%;
    font-size: 1.2rem;
  }
}

.bottom{
  background-color: #fff;
  display:block;
  position: relative;
}

.bottom img{
  opacity: 0.5;
  display:block;
}

.bottom p {
  position: absolute;
  color: #F57506;
  font-size: 1.6rem;
  top: 25%;
  left: 5%;
  width: 90%;
  text-align: center;
  font-family: 'Philosopher', serif;
  font-weight: bold;
}

.bottom__btn {
  position: absolute;
  top: 70%;
  left: 20%;
  padding: 0.2em;
  font-size: 1.2rem;
  color: black;
  text-decoration: none;
  user-select: none;
  border: 1px #F8F5CD solid;
  border-radius: 10px;
  transition: 0.4s ease;
  background-color: #F8F5CD;
  margin-left: 5px;
}

.footer {
  margin-top: 5%;

  &__logo {
    color: #F57506;
    margin-left: 3%;
  }
  &__nav {
    display: flex;
  }
  &__box {
    height: auto;
    margin-left: 5%;
    margin-bottom: 5%;
  }
  &__nav a {
    color: #000;
    font-size: 0.9rem;
  }
  &__nav a:hover {
    color: #F57506;
  }
}

.copyright p {
  text-align: center;
  margin: 2%;
  font-size: 0.9rem;
}

