/******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/
.flex {
    flex-direction: row;
    flex-wrap: wrap;
}

@media (min-width: 599px), (max-width:959px) {
    .howto__body {
        display: flex;
    }

    .howto__img {
        width: 60%;
        margin: 5%;
    }

    .howto__text {
        margin-top: 5%;
        font-size: 1.3rem;
    }
}

.social {
    &__title h3 {
      text-align: center;
      font-size: 1.6rem;
      color: #F57506;
      font-weight: lighter;
      margin: 5%;
    }
    &__text p {
      margin-bottom: 4%;
      font-size: 1.4rem;
    }
    &__title span {
      border-bottom: 1px solid #707070;
      padding-bottom: 2%;
    }
    &__voice {
      margin: 2%;
    }
    &__voice p {
      font-size: 1.2rem;
    }
    &__voice span {
      font-size: 1.3rem;
      border-bottom: #F57506 solid 1px;
    }
  
  }

// よくある質問セクション
.question {
  &__text p {
    font-size: 1.1rem;
  }
  &__text h4 {
    font-size: 1.2rem;
  }
}

.bottom{
  background-color: #fff;
  display:block;
  position: relative;
}

.bottom img{
  opacity: 0.5;
  display:block;
}

.bottom p {
  position: absolute;
  color: #F57506;
  font-size: 2rem;
  top: 25%;
  left: 5%;
  width: 90%;
  text-align: center;
  font-family: 'Philosopher', serif;
  font-weight: bold;
}

.bottom__btn {
  position: absolute;
  top: 70%;
  left: 20%;
  padding: 0.2em;
  font-size: 1.6rem;
  color: black;
  text-decoration: none;
  user-select: none;
  border: 1px #F8F5CD solid;
  border-radius: 10px;
  transition: 0.4s ease;
  background-color: #F8F5CD;
  margin-left: 5px;
}

.footer {
  margin-top: 5%;

  &__logo {
    color: #F57506;
    margin-left: 3%;
  }
  &__nav {
    display: flex;
  }
  &__box {
    height: auto;
    margin-left: 5%;
    margin-bottom: 5%;
  }
  &__nav a {
    color: #000;
    font-size: 1rem;
  }
  &__nav a:hover {
    color: #F57506;
  }
}

.copyright p {
  text-align: center;
  margin: 2%;
  font-size: 1rem;
}