/******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/
.flex {
    flex-direction: row;
    flex-wrap: wrap;
}

@media (min-width: 599px), (max-width:959px) {
    .howto__body {
        display: flex;
    }

    .howto__img {
        width: 60%;
        margin: 5%;
    }

    .howto__text {
        margin-top: 5%;
        font-size: 1.3rem;
    }
}

.social {
    &__title h3 {
      text-align: center;
      font-size: 1.6rem;
      color: #F57506;
      font-weight: lighter;
      margin: 5%;
    }
    &__text p {
      margin-bottom: 4%;
      font-size: 1.4rem;
    }
    &__title span {
      border-bottom: 1px solid #707070;
      padding-bottom: 2%;
    }
    &__voice {
      margin: 2%;
    }
    &__voice p {
      font-size: 1.2rem;
    }
    &__voice span {
      font-size: 1.3rem;
      border-bottom: #F57506 solid 1px;
    }
  
  }

// よくある質問セクション
.question {
  &__text p {
    font-size: 1.1rem;
  }
  &__text h4 {
    font-size: 1.2rem;
  }
}
