/******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/
.font-sm {
  font-size: 16px;
}
.font-md {
  font-size: 19px;
}
.font-lr {
  font-size: 23px;
}
.font-lg {
  font-size: 36px;
}
.mb-lg {
  margin-bottom: 150px !important;
}
.pb-lg {
  padding-bottom: 150px !important;
}

.content-width {
  width: 90%;
  margin: 0 auto;
}

.login {
  width: 60%;
  display: flex;
  margin: 20px;
  margin-left: 60px;
}

#home {
  background-image: url(/assets/main-bg.png);
  background-size: cover;
}

.page-title {
  font-family: 'Philosopher', serif;
}

.page-title p {
  font-size: 1.8rem;
  color: aliceblue;
}

.home-content {
  display: block;
}

@media (min-width: 959px) {
  .home-btn {
    display: none;
  }

  .page-title h2{
    font-size: 3.5rem;
    color: #F57506;
    font-weight: lighter;
  }

  .inquiry {
    display: none;
  }

  .inquiry__nav {
    font-size: 2rem;
    display: flex;
    margin-top: 5%;
  }

}

.app__nav {
  display: flex;
  margin-top: 2%;
}

.app__nav p {
  font-size: 2rem;
}
.app-img {
  display: flex;
  width: 20vw;
  height: 9vh;
  margin-left: 5px;
}

.app__img {
  margin-left: 5px;
}

@media (min-width: 959px) {
  .howto__body {
      display: flex;
  }
  .howto__title {
      font-size: 2rem;
      margin-top: 2%;
  }

  .howto__img {
      width: 60%;
      margin: 5%;
  }

  .howto__text {
      margin-top: 5%;
      font-size: 1.6rem;
  }
}


