/******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/
.font-sm {
  font-size: 16px;
}
.font-md {
  font-size: 19px;
}
.font-lr {
  font-size: 23px;
}
.font-lg {
  font-size: 36px;
}
.mb-lg {
  margin-bottom: 150px !important;
}
.pb-lg {
  padding-bottom: 150px !important;
}

.login {
  width: 60%;
  display: flex;
  margin: 20px;
  margin-left: 60px;
}

.nav__btn{
  display: inline-block;
  padding: 0.4em;
  font-size: 0.9em;
  color: black;
  text-decoration: none;
  user-select: none;
  border: 1px #F8F5CD solid;
  border-radius: 3px;
  margin: 10px;
  transition: 0.4s ease;
  background-color: #F8F5CD;
}

.nav__btn a {
  color: black;


}

.nav__btn:hover{
  color: black;
  background: #F57506;
}