/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
body {
  font-family: "Kameron", "Noto Sans JP", sans-serif;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}
.font-sm {
  font-size: 14px;
}
.font-md {
  font-size: 17px;
}
.font-lr {
  font-size: 17px;
}
.font-lg {
  font-size: 25px;
}
.mb-sm {
  margin-bottom: 16px !important;
}
.mb-lg {
  margin-bottom: 80px !important;
}
.pb-sm {
  padding-bottom: 16px !important;
}
.pb-lg {
  padding-bottom: 80px !important;
}

body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    line-height: 1.7;
    color: #432;
}

.content-width {
  width: 90%;
  margin: 0 auto;
}

ul {
  margin-left: 10px;
}

.header {
  height: 100px;
  display: flex;
  @extend .content-width;
}

.logo {
  font-size: 40px;
  width: 40%;

  &__img {
    width: 210px;
    margin-top: 10px;
  }
}

.logo__world {
  color: #F57506;
}

.login {
  display: none;
}

.nav__btn{
  display: inline-block;
  padding: 0.4em;
  font-size: 0.9em;
  color: black;
  text-decoration: none;
  user-select: none;
  border: 1px #F8F5CD solid;
  border-radius: 3px;
  margin: 2%;
  transition: 0.4s ease;
  background-color: #F8F5CD;
}

.btn {
  padding: 0.2em;
  font-size: 0.9em;
  color: black;
  text-decoration: none;
  user-select: none;
  border: 1px #F8F5CD solid;
  border-radius: 10px;
  transition: 0.4s ease;
  background-color: #F8F5CD;
  margin-left: 5px;
}

.btn:hover {
  color: black;
  background: #F57506;
}

.nav__btn a {
  color: black;
}

.nav__btn:hover{
  color: black;
  background: #F57506;
}

.container {
  background-color: #0bd;
}

#home {
  background-image: url(/assets/main-bg.png);
  min-height: 100vh;
}

.big-bg {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.page-title {
  font-family: 'Philosopher', serif;
}

.page-title h2{
  font-size: 1.6rem;
  color: #F57506;
  font-weight: bold;
}

.page-title p {
  font-size: 1.2rem;
  color: #000;
}

.home-content {
  display: block;
  position: relative;
}

.home-set {
  position: absolute;
  top: 50vh;
  left: 5%;
}

.home-btn {
  margin-left: 10%;
  margin-top: 2%;
}

.inquiry {
  display: flex;
  margin-left: 3%;
}

// howtoセクション

.howto {
  // background-color: #F8F5CD;
  margin: 3%;

  &__title h3 {
    text-align: center;
    font-size: 1.4em;
    color: #F57506;
    font-weight: lighter;
    margin-bottom: 3%;
  }

  &__title span {
      border-bottom: 1px solid #707070;
      padding-bottom: 2%;
  }
  &__text {
    width: 90%;
    text-align: center;
    margin: 3%;
  }
}

// サービス紹介セクション
.service {
  background-color: #F8F5CD;
  margin-top: 7%;

  &__title h3 {
    text-align: center;
    font-size: 1.4em;
    color: #F57506;
    font-weight: lighter;
    margin: 5%;
  }

  &__title span {
    border-bottom: 1px solid #707070;
    padding-bottom: 2%;
}

  &__icons {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 3%;
  }

  &__text {
    margin: 7%;
    font-size: 1rem;
  }
}
.icon-set {
  display: block;
  margin-left: 10%;
}
.service__icon img {
  width: 16vw;
  height: auto;
}
.icon-name p{
    font-size: 0.8rem;
}


@media (max-width: 960px) {
  .inquiry__nav {
    display: none;
  }
  .app__nav {
    display: inline;
  }
  .app-img {
    height: 6.5vh;
    width: 38vw;
  }
  .app__nav p {
    font-size: 1.2rem;
  }
}

@media (max-width: 459px) {
  .howto__body {
    display: block;
  }
  .howto__img {
    margin: 5%;
    text-align: center;
  }

  .howto__text {
    margin-top: 5%;
    font-size: 1rem;
  }
}

// 社会貢献セクション
.social-content {
  width: 90%;
  background-color:#fff;
  margin: 0 auto 10%;
}

.social {
  &__title h3 {
    text-align: center;
    font-size: 1.6rem;
    color: #F57506;
    font-weight: lighter;
    margin: 5%;
  }
  &__text p {
    margin-bottom: 4%;
    font-size: 1.1rem;
  }
  &__title span {
    border-bottom: 1px solid #707070;
    padding-bottom: 2%;
  }
  &__bottom {
    display: block;
  }
  &__iconset {
    display: flex;
  }
  &__voice {
    margin: 2%;
  }
  &__voice p {
    font-size: 1rem;
  }
  &__voice span {
    font-size: 1.2rem;
    border-bottom: solid 1px #F57506;
  }

  &__image {
    width: 250px;
    height: auto;
    margin-right: 2%;
    margin-top: 5%;

  }

}

// よくある質問セクション
.question {
  background-color: #F8F5CD;
}
.question-content {
  width: 90%;
  margin: 0 auto;
}

.question {
  &__title h3 {
    text-align: center;
    font-size: 1.6rem;
    color: #F57506;
    font-weight: lighter;
    margin: 5%;
  }
  &__box {
    padding: 0.5em 1em;
    margin: 1em 0;
    color: #000;
    background: #FFF;
    border: solid 3px #F57506;
    border-radius: 10px;
  }
  &__text p {
    margin: 4%;
    font-size: 1rem;
  }
  &__text h4 {
    font-size: 1rem;
  }
  &__text span {
    border-bottom: 1px solid #F57506;
    padding-bottom: 2%;
  }
  &__title span {
    border-bottom: 1px solid #707070;
    padding-bottom: 2%;
  }
  &__bottom {
    height: auto;
    text-align: center;
  }
  &__btn {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #fff;
    border-left: solid 6px #ff7c5c;/*左線*/
    color: #ff7c5c;/*文字色*/
    font-size: 1rem;
    font-weight: bold;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  }
  &__btn:active {
    box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
    transform: translateY(2px);
  }
}


