/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
body {
  font-family: "Kameron", "Noto Sans JP", sans-serif;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
.font-sm {
  font-size: 14px;
}
.font-md {
  font-size: 17px;
}
.font-lr {
  font-size: 17px;
}
.font-lg {
  font-size: 25px;
}
.mb-sm {
  margin-bottom: 16px !important;
}
.mb-lg {
  margin-bottom: 80px !important;
}
.pb-sm {
  padding-bottom: 16px !important;
}
.pb-lg {
  padding-bottom: 80px !important;
}

body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    line-height: 1.7;
    color: #432;
}

.content-width {
  width: 90%;
  margin: 0 auto;
}

ul {
  margin-left: 10px;
}

.header {
  height: 100px;
  display: flex;
  @extend .content-width;
}

.logo {
  font-size: 40px;
  width: 40%;

  &__img {
    width: 210px;
    margin-top: 10px;
  }
}

.logo__world {
  color: #F57506;
}

.login {
  display: none;
}

.nav__btn{
  display: inline-block;
  padding: 0.4em;
  font-size: 0.9em;
  color: black;
  text-decoration: none;
  user-select: none;
  border: 1px #F8F5CD solid;
  border-radius: 3px;
  margin: 10px;
  transition: 0.4s ease;
  background-color: #F8F5CD;
}

.btn {
  padding: 0.2em;
  font-size: 0.9em;
  color: black;
  text-decoration: none;
  user-select: none;
  border: 1px #F8F5CD solid;
  border-radius: 3px;
  transition: 0.4s ease;
  background-color: #F8F5CD;
  margin-left: 5px;
}

.btn:hover {
  color: black;
  background: #F57506;
}

.nav__btn a {
  color: black;
}

.nav__btn:hover{
  color: black;
  background: #F57506;
}

.container {
  background-color: #0bd;
}

#home {
  background-image: url(/assets/main-bg.png);
  min-height: 100vh;
}

.big-bg {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.page-title {
  font-family: 'Philosopher', serif;
}

.page-title h2{
  font-size: 1.6rem;
  color: #F57506;
  font-weight: bold;
}

.page-title p {
  font-size: 1.2rem;
  color: #000;
}

.home-content {
  display: block;
  position: relative;
}

.home-set {
  position: absolute;
  top: 50vh;
  left: 5%;
}

.home-btn {
  margin-left: 10%;
  margin-top: 2%;
}

.inquiry {
  display: flex;
  margin-left: 3%;
}

@media (max-width: 960px) {
  .inquiry__nav {
    display: none;
  }
  .app__nav {
    display: inline;
  }
  .app-img {
    height: 7vh;
    width: 38vw;
  }
  .app__nav p {
    font-size: 1.2rem;
  }

}