/* 出欠フォーム */
.middle {
  height: 100%;
}

.select-box {
  width: 300px;
  height: 50px;
  padding-left: 5px;
}

/* 出欠一覧 */
.atten-b {
  background-color: #ffffe0;
  height: 100%;
  width: 100%;
  display: block;
}

.atte-title {
  padding: 30px 0 10px;
  border-bottom:  1px solid #ff8c00;
  width: 300px;
  margin: 0 auto;
}

.atte-box {
  width: 80vh;
  height: 100vh;
  margin: 60px auto 0;
  border-radius: 4px;
  border: 1px #ddd solid;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
}

.atte-contents table {
  margin: 30px auto 0;
}

table th {/*table内のthに対して*/
  padding: 10px;/*上下左右10pxずつ*/
  border: solid 1px black;
  font-weight: bold;
}

table td {/*table内のtdに対して*/
  padding: 3px 10px;/*上下3pxで左右10px*/
  border: solid 1px black;
}