.wrapper {
  display: flex;
}
.side-bar {
  background-color: #253141;
  width: 300px;
  height: 100vh;
}

.rooms {
  background-color: #2F3E51;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}

.room {
  padding: 20px 0 40px;
}
.chat {
  background-color: #FFFFFF;
  width: calc(100vw - 300px);
  display: inline;
}
.side-top {
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-top {
  height: 100px;
  padding: 0 40px;
}
.chat-main {
  background-color: #FAFAFA;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0;
}

.chat-bottom {
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
}

.name-box a {
  font-size: 16px;
  color: #FAFAFA;
  padding: auto 0 20px;
  text-decoration: none;
}

.chat-make a {
  font-size: 10px;
  color: deepskyblue;
  padding: 14px;
  border: 1px solid lightblue;
  text-decoration: none;
}

.room-name a {
  color: white;
  text-decoration: none;
}