/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

/* ヘッダー */
.header {
  background-color: white;
  display: flex;
  padding: 20px 0; 
}

.title {
  color: #ff8c00;
  width: 40%;
  margin-left: 30px;
}

.login {
  margin-left: 100px;
  width: 60%;
}

.title h1 {
  font-size: 32px;
}

.wf-mplus1p { 
  font-family: "M PLUS 1p"; 
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 200px;
}

.nav__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 1.1em;
  color:  #ff8c00;
  text-decoration: none;
  user-select: none;
  border: 1px  #ff8c00 solid;
  border-radius: 3px;
  transition: 0.4s ease;
}
.nav__btn:hover{
  color:  #ff8c00;
  background:  #ff8c00;
}

/* トップイメージ周り */
.first-view {
  position:relative
}

.text {
  position: absolute;
  top: 30%; /*位置を指定します*/
  left: 70px;
  color: white;
}

.inner {
  width: 1024px;
  margin: 0 auto;
  display: flex;
}

.form__wrapper{
  min-height: calc(100vh - 161px);
}

.form__text {
  width: 50%;
}

.field{
  margin: 10px 0;
}

.actions{
  margin-bottom: 40px;
}

.form__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #87CEFA;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}

.form__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}


/* フッター */

.footer {
  background-color:  #D8D8D8;
  height: 60px;
  padding: 15px 0;
}

.footer p {
  text-align: center
}

.copyright {
  text-align: center;
  color: #fff;
  font-size: 10px;
}

.containts {
  display: inline;
}

.container {
  margin: 20px 0;
  padding: 30px;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  background-color: #ffffe0;
  box-sizing: border-box;
}

.item-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
}

.item-price {
  font-size: 2.1vh;
  display: flex;
  justify-content: space-between;
}

.item-name {
  font-size: 3.4vh;
}

.item-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

.item-img {
  width: 33vh;
  height: 33vh;
}

.item-img-content {
  position: relative;
}

/* 出欠一覧 */
.atte-main {
  background-color: #ffffe0;
}

.atte-contents {
  padding: 0 0 0 40px;
  display: flex;
  
}

.atte-name {
  padding: 3px 5px 0 6px;
  background-color: #fff799;
  border: 1px solid #3cb371;
  width: 70px;
}

.atte-presence {
  padding: 3px 5px 0 6px;
  background-color: #fff799;
  border: 1px solid #3cb371;
  width: 50px;
}

.atte-bath {
  padding: 3px 5px 0 6px;
  background-color: #fff799;
  border: 1px solid #3cb371;
  width: 120px;
}

.atte-bf {
  padding: 3px 5px 0 6px;
  background-color: #fff799;
  border: 1px solid #3cb371;
  width: 160px;
}

.atte-temper {
  padding: 3px 5px 0 6px;
  background-color: #fff799;
  border: 1px solid #3cb371;
  width: 100px;
}

.atte-created {
  padding: 3px 5px 0 6px;
  background-color: #fff799;
  border: 1px solid #3cb371;
  width: 200px;
}

table th {/*table内のthに対して*/
  padding: 10px;/*上下左右10pxずつ*/
  border: solid 1px #3cb371;
}

table td {/*table内のtdに対して*/
  padding: 3px 10px;/*上下3pxで左右10px*/
  border: solid 1px #3cb371;
}

/* タブレット対応 */
@media (max-width: 1024px) {
  .inner {
    width: 90%;
    margin: 0 auto;
  }
  .page-heading {
    font-size: 24px;
  }
  .card {
    width: 48%;
    margin-bottom: 40px;
  }
  .prototype_image{
    width: 60%;
  }
}

 /* スマホ表示 */
@media (max-width: 599px) {
  .logo {
    width: 120px;
  }
  .page-heading {
    font-size: 20px;
  }
  .card {
    width: 100%;
    margin-bottom: 60px;
  }
  .card__title {
    font-size: 18px;
  }
  .card__summary {
    font-size: 14px;
  }
  .prototype_image{
    width: 100%;
  }
  .table{
    width: 100%;
  }
}