@charset "UTF-8";
.menu-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  width: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 90;
  background-color: #F8F5CD;
}

.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background-color: black;
  position: absolute;
}

.menu-btn span:before {
  bottom: 8px;
}

.menu-btn span:after {
  top: 8px;
}

#menu-btn-check:checked ~ .menu-btn span {
  background-color: rgba(255, 255, 255, 0);
  /*メニューオープン時は真ん中の線を透明にする*/
}

#menu-btn-check:checked ~ .menu-btn span::before {
  bottom: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#menu-btn-check:checked ~ .menu-btn span::after {
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#menu-btn-check {
  display: none;
}

.menu-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 80;
  background-color: #F8F5CD;
}

.menu-content ul {
  padding: 70px 10px 0;
}

.menu-content ul li {
  border-bottom: solid 1px black;
  list-style: none;
}

.menu-content ul li a {
  display: block;
  width: 100%;
  font-size: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: black;
  text-decoration: none;
  padding: 9px 15px 10px 0;
  position: relative;
}

.menu-content ul li a::before {
  content: "";
  width: 7px;
  height: 7px;
  border-top: solid 2px black;
  border-right: solid 2px black;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  right: 11px;
  top: 16px;
}

.menu-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;
  /*leftの値を変更してメニューを画面外へ*/
  z-index: 80;
  background-color: #F8F5CD;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  /*アニメーション設定*/
}

#menu-btn-check:checked ~ .menu-content {
  left: 0;
  /*メニューを画面内へ*/
}

/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
body {
  font-family: "Kameron", "Noto Sans JP", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.font-sm {
  font-size: 14px;
}

.font-md {
  font-size: 17px;
}

.font-lr {
  font-size: 17px;
}

.font-lg {
  font-size: 25px;
}

.mb-sm {
  margin-bottom: 16px !important;
}

.mb-lg {
  margin-bottom: 80px !important;
}

.pb-sm {
  padding-bottom: 16px !important;
}

.pb-lg {
  padding-bottom: 80px !important;
}

body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
  line-height: 1.7;
  color: #432;
}

.content-width, .header {
  width: 90%;
  margin: 0 auto;
}

ul {
  margin-left: 10px;
}

.header {
  height: auto;
  display: block;
}

.logo {
  font-size: 40px;
  width: 40%;
}

.logo__img {
  width: 210px;
  margin-top: 10px;
}

.logo__world {
  color: #F57506;
}

.login {
  display: inline-block;
}

.nav__btn {
  display: inline-block;
  padding: 0.4em;
  font-size: 0.9em;
  color: black;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px #F8F5CD solid;
  border-radius: 3px;
  margin: 2%;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  background-color: #F8F5CD;
  width: auto;
  height: 35px;
}

.btn {
  padding: 0.2em;
  font-size: 0.9em;
  color: black;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px #F8F5CD solid;
  border-radius: 10px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  background-color: #F8F5CD;
  margin-left: 5px;
}

.btn:hover {
  color: black;
  background: #F57506;
}

.nav__btn a {
  color: black;
}

.nav__btn:hover {
  color: black;
  background: #F57506;
}

.container {
  background-color: #0bd;
}

#home {
  min-height: auto;
}

.big-bg {
  position: relative;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.home-set {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.page-title {
  font-family: 'Philosopher', serif;
}

.page-title h2 {
  font-size: 1.6rem;
  color: #F57506;
  font-weight: bold;
}

.page-title p {
  font-size: 1.2rem;
  color: #F57506;
}

.home-set {
  top: 50vh;
  left: 5%;
}

.home-btn {
  margin-left: 10%;
  margin-top: 2%;
}

.inquiry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 3%;
}

.app__nav {
  display: none;
  margin-top: 2%;
}

.app__nav p {
  display: none;
  font-size: 2rem;
}

.app-img {
  display: none;
  width: 20vw;
  height: 9vh;
  margin-left: 5px;
}

.app__img {
  margin-left: 5px;
  display: none;
}

.howto {
  margin: 3%;
}

.howto__title h3 {
  text-align: center;
  font-size: 1.4em;
  color: #F57506;
  font-weight: lighter;
  margin-bottom: 3%;
}

.howto__title span {
  border-bottom: 1px solid #707070;
  padding-bottom: 2%;
}

.howto__text {
  width: 90%;
  text-align: center;
  margin: 3%;
}

.service {
  background-color: #F8F5CD;
  margin-top: 7%;
}

.service__title h3 {
  text-align: center;
  font-size: 1.4em;
  color: #F57506;
  font-weight: lighter;
  padding-top: 3%;
  margin: 5%;
}

.service__title span {
  border-bottom: 1px solid #707070;
  padding-bottom: 2%;
}

.service__icons {
  display: -ms-grid;
  display: grid;
  gap: 10px;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  margin-left: 3%;
}

.service__text {
  margin: 7%;
  font-size: 1rem;
  padding-bottom: 7%;
}

.icon-set {
  display: block;
  margin-left: 10%;
}

.service__icon img {
  width: 16vw;
  height: auto;
}

.icon-name p {
  font-size: 0.8rem;
}

@media (max-width: 960px) {
  .inquiry__nav {
    display: none;
  }
  .app__nav {
    display: inline;
  }
  .app-img {
    height: 6.5vh;
    width: 38vw;
  }
  .app__nav p {
    font-size: 1.2rem;
  }
}

@media (max-width: 459px) {
  .howto__body {
    display: block;
  }
  .howto__img {
    margin: 5%;
    text-align: center;
  }
  .howto__text {
    margin-top: 5%;
    font-size: 1rem;
  }
}

.social-content {
  width: 90%;
  background-color: #fff;
  margin: 0 auto 10%;
}

.social__title h3 {
  text-align: center;
  font-size: 1.6rem;
  color: #F57506;
  font-weight: lighter;
  margin: 5%;
}

.social__text p {
  margin-bottom: 4%;
  font-size: 1.1rem;
}

.social__title span {
  border-bottom: 1px solid #707070;
  padding-bottom: 2%;
}

.social__bottom {
  display: block;
}

.social__iconset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__voice {
  margin: 2%;
}

.social__voice p {
  font-size: 1rem;
}

.social__voice span {
  font-size: 1.2rem;
  border-bottom: solid 1px #F57506;
}

.social__image {
  width: 250px;
  height: auto;
  margin-right: 2%;
  margin-top: 5%;
}

.question {
  background-color: #F8F5CD;
}

.question-content {
  width: 90%;
  margin: 0 auto;
}

.question__title h3 {
  text-align: center;
  font-size: 1.6rem;
  color: #F57506;
  font-weight: lighter;
  margin: 5%;
}

.question__box {
  padding: 0.5em 1em;
  margin: 1em 0;
  color: #000;
  background: #FFF;
  border: solid 3px #F57506;
  border-radius: 10px;
}

.question__text p {
  margin: 4%;
  font-size: 1rem;
}

.question__text h4 {
  font-size: 1rem;
}

.question__text span {
  border-bottom: 1px solid #F57506;
  padding-bottom: 2%;
}

.question__title span {
  border-bottom: 1px solid #707070;
  padding-bottom: 2%;
}

.question__bottom {
  height: auto;
  text-align: center;
}

.question__btn {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #fff;
  border-left: solid 6px #ff7c5c;
  /*左線*/
  color: #ff7c5c;
  /*文字色*/
  font-size: 1rem;
  font-weight: bold;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}

.question__btn:active {
  -webkit-box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
          box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.bottom {
  background-color: #fff;
  display: block;
  position: relative;
}

.bottom img {
  opacity: 0.5;
  display: block;
}

.bottom p {
  position: absolute;
  color: #F57506;
  font-size: 1.4rem;
  top: 25%;
  left: 5%;
  width: 90%;
  text-align: center;
  font-family: 'Philosopher', serif;
  font-weight: bold;
}

.bottom__btn {
  position: absolute;
  top: 80%;
  left: 20%;
  padding: 0.2em;
  font-size: 0.9em;
  color: black;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px #F8F5CD solid;
  border-radius: 10px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  background-color: #F8F5CD;
  margin-left: 5px;
}

.bottom__btn:hover {
  color: black;
  background: #F57506;
}

.bottom__text p {
  width: 60%;
  font-size: 1.2rem;
  color: #F57506;
  position: absolute;
  top: 35%;
  left: 20%;
}

.footer__content {
  width: 90%;
  background-color: #F8F5CD;
  margin: 3% auto;
}

.footer {
  margin-top: 5%;
}

.footer__logo {
  color: #F57506;
  margin-left: 3%;
}

.footer__box {
  height: auto;
  margin-left: 0;
}

.footer__nav {
  display: inline-block;
}

.footer__nav a {
  color: #000;
  font-size: 0.8rem;
}

.footer__nav a:hover {
  color: #F57506;
}

.copyright p {
  text-align: end;
  margin: 2%;
  font-size: 0.7rem;
}

.select-box {
  width: 300px;
  height: 50px;
  padding-left: 5px;
  border-radius: 4px;
  border: 1px #ddd solid;
}

select {
  -moz-appearance: menulist;
  -webkit-appearance: menulist;
}

.box {
  width: 400px;
  height: auto;
  margin: 60px auto 60px;
  border-radius: 4px;
  border: 1px #ddd solid;
}

.text-box {
  width: 100%;
  /*親要素いっぱい広げる*/
  padding: 10px 15px;
  /*ボックスを大きくする*/
  font-size: 16px;
  border-radius: 3px;
  /*ボックス角の丸み*/
  border: 2px solid #ddd;
  /*枠線*/
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /*横幅の解釈をpadding, borderまでとする*/
}

.text-area {
  width: 100%;
  /*親要素いっぱい広げる*/
  padding: 10px 15px;
  /*ボックスを大きくする*/
  font-size: 16px;
  border-radius: 3px;
  /*ボックス角の丸み*/
  border: 2px solid #ddd;
  /*枠線*/
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.preview {
  height: 250px;
  width: 250px;
  -o-object-fit: contain;
     object-fit: contain;
}

table {
  width: 97%;
  border-collapse: separate;
  border-spacing: 0;
}

table th:first-child {
  border-radius: 5px 0 0 0;
}

table th:last-child {
  border-radius: 0 5px 0 0;
  border-right: 1px solid #F57506;
}

table th {
  text-align: center;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#f79744), to(#f77401));
  background: linear-gradient(#f79744, #f77401);
  border-left: 1px solid #F57506;
  border-top: 1px solid #F57506;
  border-bottom: 1px solid #F57506;
  width: 15%;
  padding: 10px 0;
}

table td {
  text-align: center;
  border-left: 1px solid #F57506;
  border-bottom: 1px solid #F57506;
  border-top: none;
  width: 15%;
  padding: 10px 0;
}

table td:last-child {
  border-right: 1px solid #F57506;
}

table tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}

table tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}

@media (min-width: 480px) {
  /******************************************************************

Stylesheet: 480px以上(スマホの横向き)のモニタで適用

******************************************************************/
  .header {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 480px) and (min-width: 399px) {
  .app__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 2%;
  }
  .app__nav p {
    font-size: 2rem;
  }
  .app-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 20vw;
    height: 9vh;
    margin-left: 5px;
  }
  .app__img {
    margin-left: 5px;
  }
}

@media (min-width: 480px) {
  .service {
    background-color: #F8F5CD;
    margin-top: 5%;
  }
  .service__title h3 {
    text-align: center;
    font-size: 1.4em;
    color: #F57506;
    font-weight: lighter;
    margin: 5%;
  }
  .service__title span {
    border-bottom: 1px solid #707070;
    padding-bottom: 2%;
  }
  .service__icons {
    display: -ms-grid;
    display: grid;
    gap: 10px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-left: 3%;
  }
  .service__text {
    margin-bottom: 7%;
    font-size: 1.2rem;
  }
  .icon-set {
    display: block;
    margin-left: 10%;
  }
  .service__icon img {
    width: 40px;
    height: auto;
  }
  .icon-name p {
    font-size: 0.8rem;
  }
  .social__title h3 {
    text-align: center;
    font-size: 1.4rem;
    color: #F57506;
    font-weight: lighter;
    margin: 5%;
  }
  .social__text p {
    margin-bottom: 4%;
    font-size: 1.2rem;
  }
  .bottom {
    background-color: #fff;
    display: block;
    position: relative;
  }
  .bottom img {
    opacity: 0.5;
    display: block;
  }
  .bottom p {
    position: absolute;
    color: #F57506;
    font-size: 1.6rem;
    top: 25%;
    left: 5%;
    width: 90%;
    text-align: center;
    font-family: 'Philosopher', serif;
    font-weight: bold;
  }
  .bottom__btn {
    position: absolute;
    top: 70%;
    left: 20%;
    padding: 0.2em;
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    border: 1px #F8F5CD solid;
    border-radius: 10px;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
    background-color: #F8F5CD;
    margin-left: 5px;
  }
  .footer {
    margin-top: 5%;
  }
  .footer__logo {
    color: #F57506;
    margin-left: 3%;
  }
  .footer__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__box {
    height: auto;
    margin-left: 5%;
    margin-bottom: 5%;
  }
  .footer__nav a {
    color: #000;
    font-size: 0.9rem;
  }
  .footer__nav a:hover {
    color: #F57506;
  }
  .copyright p {
    text-align: center;
    margin: 2%;
    font-size: 0.9rem;
  }
}

@media (min-width: 600px) {
  /******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/
  .flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 600px) and (min-width: 599px), (min-width: 600px) and (max-width: 959px) {
  .howto__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .howto__img {
    width: 60%;
    margin: 5%;
  }
  .howto__text {
    margin-top: 5%;
    font-size: 1.3rem;
  }
}

@media (min-width: 600px) {
  .social__title h3 {
    text-align: center;
    font-size: 1.6rem;
    color: #F57506;
    font-weight: lighter;
    margin: 5%;
  }
  .social__text p {
    margin-bottom: 4%;
    font-size: 1.4rem;
  }
  .social__title span {
    border-bottom: 1px solid #707070;
    padding-bottom: 2%;
  }
  .social__voice {
    margin: 2%;
  }
  .social__voice p {
    font-size: 1.2rem;
  }
  .social__voice span {
    font-size: 1.3rem;
    border-bottom: #F57506 solid 1px;
  }
  .question__text p {
    font-size: 1.1rem;
  }
  .question__text h4 {
    font-size: 1.2rem;
  }
  .bottom {
    background-color: #fff;
    display: block;
    position: relative;
  }
  .bottom img {
    opacity: 0.5;
    display: block;
  }
  .bottom p {
    position: absolute;
    color: #F57506;
    font-size: 2rem;
    top: 25%;
    left: 5%;
    width: 90%;
    text-align: center;
    font-family: 'Philosopher', serif;
    font-weight: bold;
  }
  .bottom__btn {
    position: absolute;
    top: 70%;
    left: 20%;
    padding: 0.2em;
    font-size: 1.6rem;
    color: black;
    text-decoration: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    border: 1px #F8F5CD solid;
    border-radius: 10px;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
    background-color: #F8F5CD;
    margin-left: 5px;
  }
  .footer {
    margin-top: 5%;
  }
  .footer__logo {
    color: #F57506;
    margin-left: 3%;
  }
  .footer__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__box {
    height: auto;
    margin-left: 5%;
    margin-bottom: 5%;
  }
  .footer__nav a {
    color: #000;
    font-size: 1rem;
  }
  .footer__nav a:hover {
    color: #F57506;
  }
  .copyright p {
    text-align: center;
    margin: 2%;
    font-size: 1rem;
  }
}

@media (min-width: 960px) {
  /******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/
  .font-sm {
    font-size: 16px;
  }
  .font-md {
    font-size: 19px;
  }
  .font-lr {
    font-size: 23px;
  }
  .font-lg {
    font-size: 36px;
  }
  .mb-lg {
    margin-bottom: 150px !important;
  }
  .pb-lg {
    padding-bottom: 150px !important;
  }
  .content-width, .header {
    width: 90%;
    margin: 0 auto;
  }
  .login {
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 20px;
    margin-left: 60px;
  }
  #home {
    background-size: cover;
  }
  .page-title {
    font-family: 'Philosopher', serif;
  }
  .page-title p {
    font-size: 1.8rem;
    color: #000;
  }
  .home-content {
    display: block;
  }
  .nav__btn {
    width: auto;
    height: 50px;
    display: inline-block;
    padding: 0.4em;
    color: black;
    text-decoration: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    border: 1px #F8F5CD solid;
    border-radius: 3px;
    margin: 2%;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
    background-color: #F8F5CD;
    font-size: 1rem;
  }
}

@media (min-width: 960px) and (min-width: 959px) {
  .home-btn {
    display: none;
  }
  .page-title h2 {
    font-size: 3.5rem;
    color: #F57506;
    font-weight: lighter;
  }
  .inquiry {
    display: none;
  }
  .inquiry__nav {
    font-size: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 5%;
  }
}

@media (min-width: 960px) {
  .app__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 2%;
  }
  .app__nav p {
    font-size: 2rem;
  }
  .app-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 20vw;
    height: 9vh;
    margin-left: 5px;
  }
  .app__img {
    margin-left: 5px;
  }
}

@media (min-width: 960px) and (min-width: 959px) {
  .howto__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .howto__title {
    font-size: 2rem;
    margin-top: 2%;
  }
  .howto__img {
    width: 60%;
    margin: 5%;
  }
  .howto__text {
    margin-top: 5%;
    font-size: 1.4rem;
  }
}

@media (min-width: 960px) and (min-width: 959px) {
  .service {
    background-color: #F8F5CD;
    margin-top: 5%;
  }
  .service__content {
    text-align: center;
    margin-bottom: 5%;
  }
  .service__title h3 {
    text-align: center;
    font-size: 2.5rem;
    color: #F57506;
    font-weight: lighter;
    margin: 2%;
    padding-top: 3%;
  }
  .service__title span {
    border-bottom: 1px solid #707070;
    padding-bottom: 2%;
  }
  .service__icons {
    width: 60%;
    display: -ms-grid;
    display: grid;
    gap: 10px;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    margin-left: 3%;
    margin-top: 5%;
  }
  .service__text {
    width: 40%;
    margin: 7%;
    font-size: 1.4rem;
  }
  .service__lower {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .icon-set {
    display: block;
    margin-left: 10%;
  }
  .service__icon img {
    width: 100px;
    height: auto;
  }
  .icon-name p {
    font-size: 1.2rem;
  }
}

@media (min-width: 960px) {
  .social__title h3 {
    text-align: center;
    font-size: 2.3rem;
    color: #F57506;
    font-weight: lighter;
    margin: 5%;
  }
  .social__text p {
    margin-bottom: 4%;
    font-size: 1.6rem;
  }
  .social__bottom {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .social__iconset {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .social__voice {
    margin: 2%;
  }
  .social__voice p {
    font-size: 1.4rem;
  }
  .social__voice span {
    font-size: 1.6rem;
    border-bottom: solid 1px #F57506;
  }
  .social__image {
    width: 350px;
    height: auto;
    margin-right: 2%;
    margin-top: 5%;
  }
  .question {
    background-color: #F8F5CD;
  }
  .question-content {
    width: 90%;
    margin: 0 auto;
  }
  .question__title h3 {
    text-align: center;
    font-size: 2.3rem;
    color: #F57506;
    font-weight: lighter;
    margin: 5%;
    padding-top: 3%;
  }
  .question__box {
    padding: 0.5em 1em;
    color: #000;
    margin-bottom: 3%;
    background: #FFF;
    border: solid 3px #F57506;
    border-radius: 10px;
  }
  .question__text h4 {
    font-size: 1.5rem;
  }
  .question__text p {
    margin-bottom: 4%;
    font-size: 1.4rem;
  }
  .question__text span {
    border-bottom: 1px solid #F57506;
    padding-bottom: 2%;
  }
  .question__title span {
    border-bottom: 1px solid #707070;
    padding-bottom: 2%;
  }
  .question__bottom {
    height: auto;
    text-align: center;
    padding: 2%;
  }
  .question__btn {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #fff;
    border-left: solid 6px #ff7c5c;
    /*左線*/
    color: #ff7c5c;
    /*文字色*/
    font-size: 1.4rem;
    font-weight: bold;
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  }
  .question__btn:active {
    -webkit-box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
            box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  #bottom {
    background: url("/assets/bottom-img1.jpeg") 0 0 no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-position: top center;
  }
  .bottom {
    background-color: #fff;
    display: block;
    position: relative;
  }
  .bottom img {
    opacity: 0.5;
    display: block;
  }
  .bottom p {
    position: absolute;
    color: #F57506;
    font-size: 2.3rem;
    top: 25%;
    left: 5%;
    width: 90%;
    text-align: center;
    font-family: 'Philosopher', serif;
    font-weight: bold;
  }
  .bottom__btn {
    position: absolute;
    top: 68%;
    left: 30%;
    padding: 0.2em;
    font-size: 2rem;
    color: black;
    text-decoration: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    border: 1px #F8F5CD solid;
    border-radius: 10px;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
    background-color: #F8F5CD;
    margin-left: 5px;
  }
  #bottom__text p {
    width: 60%;
    font-size: 1.2rem;
    color: #F57506;
    position: absolute;
    top: 35%;
    left: 20%;
  }
  .bottom {
    background-color: #fff;
    display: block;
    position: relative;
  }
}

@media (min-width: 1280px) {
  /******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/
  .travel__inner {
    padding: 50px 150px;
  }
  .popular__item {
    -ms-flex-preferred-size: 23%;
        flex-basis: 23%;
  }
  .side {
    display: block;
  }
  .nav__btn {
    width: auto;
    height: 50px;
    display: inline-block;
    padding: 0.4em;
    color: black;
    text-decoration: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    border: 1px #F8F5CD solid;
    border-radius: 3px;
    margin: 2%;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
    background-color: #F8F5CD;
    font-size: 1.4rem;
  }
  #bottom__text p {
    width: 60%;
    font-size: 1.2rem;
    color: #F57506;
    position: absolute;
    top: 35%;
    left: 20%;
  }
  .bottom {
    background-color: #fff;
    display: block;
    position: relative;
  }
  .footer {
    margin-top: 5%;
  }
  .footer__logo {
    color: #F57506;
    margin-left: 3%;
  }
  .footer__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__box {
    height: auto;
    margin-left: 5%;
    margin-bottom: 3%;
  }
  .footer__nav a {
    color: #000;
    font-size: 1.1rem;
  }
  .footer__nav a:hover {
    color: #F57506;
  }
  .copyright p {
    text-align: center;
    margin: 2%;
    font-size: 1.1rem;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /******************************************************************

Stylesheet: Retinaディスプレイで適用

******************************************************************/
  /* 

EXAMPLE 
.icon {
	background: url(images/test@2x.png) no-repeat;
	background-size: 24px 24px;
}

*/
}

@media print {
  /******************************************************************

Stylesheet: プリンタのみに適用

******************************************************************/
}
/*# sourceMappingURL=style.css.map */