@charset "UTF-8";
.menu-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  width: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 90;
  background-color: #F8F5CD;
}

.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background-color: black;
  position: absolute;
}

.menu-btn span:before {
  bottom: 8px;
}

.menu-btn span:after {
  top: 8px;
}

#menu-btn-check:checked ~ .menu-btn span {
  background-color: rgba(255, 255, 255, 0);
  /*メニューオープン時は真ん中の線を透明にする*/
}

#menu-btn-check:checked ~ .menu-btn span::before {
  bottom: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#menu-btn-check:checked ~ .menu-btn span::after {
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#menu-btn-check {
  display: none;
}

.menu-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 80;
  background-color: #F8F5CD;
}

.menu-content ul {
  padding: 70px 10px 0;
}

.menu-content ul li {
  border-bottom: solid 1px black;
  list-style: none;
}

.menu-content ul li a {
  display: block;
  width: 100%;
  font-size: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: black;
  text-decoration: none;
  padding: 9px 15px 10px 0;
  position: relative;
}

.menu-content ul li a::before {
  content: "";
  width: 7px;
  height: 7px;
  border-top: solid 2px black;
  border-right: solid 2px black;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  right: 11px;
  top: 16px;
}

.menu-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;
  /*leftの値を変更してメニューを画面外へ*/
  z-index: 80;
  background-color: #F8F5CD;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  /*アニメーション設定*/
}

#menu-btn-check:checked ~ .menu-content {
  left: 0;
  /*メニューを画面内へ*/
}

/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
body {
  font-family: "Kameron", "Noto Sans JP", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.font-sm {
  font-size: 14px;
}

.font-md {
  font-size: 17px;
}

.font-lr {
  font-size: 17px;
}

.font-lg {
  font-size: 25px;
}

.mb-sm {
  margin-bottom: 16px !important;
}

.mb-lg {
  margin-bottom: 80px !important;
}

.pb-sm {
  padding-bottom: 16px !important;
}

.pb-lg {
  padding-bottom: 80px !important;
}

body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
  line-height: 1.7;
  color: #432;
}

.content-width, .header {
  width: 90%;
  margin: 0 auto;
}

ul {
  margin-left: 10px;
}

.header {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo {
  font-size: 40px;
  width: 40%;
}

.logo__img {
  width: 210px;
  margin-top: 10px;
}

.logo__world {
  color: #F57506;
}

.login {
  display: none;
}

.nav__btn {
  display: inline-block;
  padding: 0.4em;
  font-size: 0.9em;
  color: black;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px #F8F5CD solid;
  border-radius: 3px;
  margin: 2%;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  background-color: #F8F5CD;
}

.btn {
  padding: 0.2em;
  font-size: 0.9em;
  color: black;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px #F8F5CD solid;
  border-radius: 10px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  background-color: #F8F5CD;
  margin-left: 5px;
}

.btn:hover {
  color: black;
  background: #F57506;
}

.nav__btn a {
  color: black;
}

.nav__btn:hover {
  color: black;
  background: #F57506;
}

.container {
  background-color: #0bd;
}

#home {
  background-image: url(/assets/main-bg.png);
  min-height: 100vh;
}

.big-bg {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.page-title {
  font-family: 'Philosopher', serif;
}

.page-title h2 {
  font-size: 1.6rem;
  color: #F57506;
  font-weight: bold;
}

.page-title p {
  font-size: 1.2rem;
  color: #000;
}

.home-content {
  display: block;
  position: relative;
}

.home-set {
  position: absolute;
  top: 50vh;
  left: 5%;
}

.home-btn {
  margin-left: 10%;
  margin-top: 2%;
}

.inquiry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 3%;
}

.howto {
  margin: 3%;
}

.howto__title h3 {
  text-align: center;
  font-size: 1.4em;
  color: #F57506;
  font-weight: lighter;
  margin-bottom: 3%;
}

.howto__title span {
  border-bottom: 1px solid #707070;
  padding-bottom: 2%;
}

.howto__text {
  width: 90%;
  text-align: center;
  margin: 3%;
}

.service {
  background-color: #F8F5CD;
  margin-top: 5%;
}

.service__title h3 {
  text-align: center;
  font-size: 1.4em;
  color: #F57506;
  font-weight: lighter;
  margin: 5%;
}

.service__title span {
  border-bottom: 1px solid #707070;
  padding-bottom: 2%;
}

.service__icons {
  display: -ms-grid;
  display: grid;
  gap: 10px;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  margin-left: 3%;
}

.service__text {
  margin: 7%;
  font-size: 1rem;
}

.icon-set {
  display: block;
  margin-left: 10%;
}

.service__icon img {
  width: 16vw;
  height: auto;
}

.icon-name p {
  font-size: 0.8rem;
}

@media (max-width: 960px) {
  .inquiry__nav {
    display: none;
  }
  .app__nav {
    display: inline;
  }
  .app-img {
    height: 6.5vh;
    width: 38vw;
  }
  .app__nav p {
    font-size: 1.2rem;
  }
}

@media (max-width: 459px) {
  .howto__body {
    display: block;
  }
  .howto__img {
    margin: 5%;
    text-align: center;
  }
  .howto__text {
    margin-top: 5%;
    font-size: 1rem;
  }
}

.social-content {
  width: 90%;
  background-color: #fff;
  margin: 0 auto 10%;
}

.social__title h3 {
  text-align: center;
  font-size: 1.6rem;
  color: #F57506;
  font-weight: lighter;
  margin: 5%;
}

.social__text p {
  margin-bottom: 4%;
  font-size: 1.1rem;
}

.social__title span {
  border-bottom: 1px solid #707070;
  padding-bottom: 2%;
}

.social__bottom {
  display: block;
}

.social__iconset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__voice {
  margin: 2%;
}

.social__voice p {
  font-size: 1rem;
}

.social__voice span {
  font-size: 1.2rem;
  border-bottom: solid 1px #F57506;
}

.social__image {
  width: 250px;
  height: auto;
  margin-right: 2%;
  margin-top: 5%;
}

@media (min-width: 480px) {
  /******************************************************************

Stylesheet: 480px以上(スマホの横向き)のモニタで適用

******************************************************************/
  .service {
    background-color: #F8F5CD;
    margin-top: 5%;
  }
  .service__title h3 {
    text-align: center;
    font-size: 1.4em;
    color: #F57506;
    font-weight: lighter;
    margin: 5%;
  }
  .service__title span {
    border-bottom: 1px solid #707070;
    padding-bottom: 2%;
  }
  .service__icons {
    display: -ms-grid;
    display: grid;
    gap: 10px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-left: 3%;
  }
  .service__text {
    margin-bottom: 7%;
    font-size: 1.2rem;
  }
  .icon-set {
    display: block;
    margin-left: 10%;
  }
  .service__icon img {
    width: 40px;
    height: auto;
  }
  .icon-name p {
    font-size: 0.8rem;
  }
  .social__title h3 {
    text-align: center;
    font-size: 1.4rem;
    color: #F57506;
    font-weight: lighter;
    margin: 5%;
  }
  .social__text p {
    margin-bottom: 4%;
    font-size: 1.2rem;
  }
}

@media (min-width: 600px) {
  /******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/
  .flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 600px) and (min-width: 599px), (min-width: 600px) and (max-width: 959px) {
  .howto__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .howto__img {
    width: 60%;
    margin: 5%;
  }
  .howto__text {
    margin-top: 5%;
    font-size: 1.3rem;
  }
}

@media (min-width: 600px) {
  .social__title h3 {
    text-align: center;
    font-size: 1.6rem;
    color: #F57506;
    font-weight: lighter;
    margin: 5%;
  }
  .social__text p {
    margin-bottom: 4%;
    font-size: 1.4rem;
  }
  .social__title span {
    border-bottom: 1px solid #707070;
    padding-bottom: 2%;
  }
  .social__voice {
    margin: 2%;
  }
  .social__voice p {
    font-size: 1.2rem;
  }
  .social__voice span {
    font-size: 1.3rem;
    border-bottom: #0bd solid 1px;
  }
}

@media (min-width: 960px) {
  /******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/
  .font-sm {
    font-size: 16px;
  }
  .font-md {
    font-size: 19px;
  }
  .font-lr {
    font-size: 23px;
  }
  .font-lg {
    font-size: 36px;
  }
  .mb-lg {
    margin-bottom: 150px !important;
  }
  .pb-lg {
    padding-bottom: 150px !important;
  }
  .content-width, .header {
    width: 90%;
    margin: 0 auto;
  }
  .login {
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 20px;
    margin-left: 60px;
  }
  #home {
    background-image: url(/assets/main-bg.png);
    background-size: cover;
  }
  .page-title {
    font-family: 'Philosopher', serif;
  }
  .page-title p {
    font-size: 1.8rem;
    color: aliceblue;
  }
  .home-content {
    display: block;
  }
}

@media (min-width: 960px) and (min-width: 959px) {
  .home-btn {
    display: none;
  }
  .page-title h2 {
    font-size: 3.5rem;
    color: #F57506;
    font-weight: lighter;
  }
  .inquiry {
    display: none;
  }
  .inquiry__nav {
    font-size: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 5%;
  }
}

@media (min-width: 960px) {
  .app__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 2%;
  }
  .app__nav p {
    font-size: 2rem;
  }
  .app-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 20vw;
    height: 9vh;
    margin-left: 5px;
  }
  .app__img {
    margin-left: 5px;
  }
}

@media (min-width: 960px) and (min-width: 959px) {
  .howto__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .howto__title {
    font-size: 2rem;
    margin-top: 2%;
  }
  .howto__img {
    width: 60%;
    margin: 5%;
  }
  .howto__text {
    margin-top: 5%;
    font-size: 1.6rem;
  }
}

@media (min-width: 960px) and (min-width: 959px) {
  .service {
    background-color: #F8F5CD;
    margin-top: 5%;
  }
  .service__content {
    text-align: center;
    margin-bottom: 5%;
  }
  .service__title h3 {
    text-align: center;
    font-size: 2.5rem;
    color: #F57506;
    font-weight: lighter;
    margin: 2%;
  }
  .service__title span {
    border-bottom: 1px solid #707070;
    padding-bottom: 2%;
  }
  .service__icons {
    width: 60%;
    display: -ms-grid;
    display: grid;
    gap: 10px;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    margin-left: 3%;
    margin-top: 5%;
  }
  .service__text {
    width: 40%;
    margin: 7%;
    font-size: 1.4rem;
  }
  .service__lower {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .icon-set {
    display: block;
    margin-left: 10%;
  }
  .service__icon img {
    width: 100px;
    height: auto;
  }
  .icon-name p {
    font-size: 1.2rem;
  }
}

@media (min-width: 960px) {
  .social__title h3 {
    text-align: center;
    font-size: 2.3rem;
    color: #F57506;
    font-weight: lighter;
    margin: 5%;
  }
  .social__text p {
    margin-bottom: 4%;
    font-size: 1.6rem;
  }
  .social__bottom {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .social__iconset {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .social__voice {
    margin: 2%;
  }
  .social__voice p {
    font-size: 1.4rem;
  }
  .social__voice span {
    font-size: 1.6rem;
    border-bottom: solid 1px #F57506;
  }
  .social__image {
    width: 350px;
    height: auto;
    margin-right: 2%;
    margin-top: 5%;
  }
}

@media (min-width: 1280px) {
  /******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/
  .travel__inner {
    padding: 50px 150px;
  }
  .popular__item {
    -ms-flex-preferred-size: 23%;
        flex-basis: 23%;
  }
  .side {
    display: block;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /******************************************************************

Stylesheet: Retinaディスプレイで適用

******************************************************************/
  /* 

EXAMPLE 
.icon {
	background: url(images/test@2x.png) no-repeat;
	background-size: 24px 24px;
}

*/
}

@media print {
  /******************************************************************

Stylesheet: プリンタのみに適用

******************************************************************/
}
/*# sourceMappingURL=style.css.map */